.card1
{
  font-family: karla, sans-serif;
  color: #1A488E99;
}
.card11
{
  font-family: karla, sans-serif;
  color: #1A488E99;
  font-size: 10px;
}
.card12
{
  font-family: karla, sans-serif;
  color: #1A488E99;
  font-size: 12px;
}
.card2
{
    
    display: flex;
    
}
#carncy
{
    border: none;
}
.inpt
{
    border: none;
}
.termt
{
    font-family: karla, sans-serif;
  color: #1A488E99;
  font-size: 15px;
}
.btn
{
    font-size: 15px;
}
.otrtxt
{
  text-align: center;
  font-size: 10px;
  color: rgba(105, 105, 105, 0.603);
}
.pp
{
  font-family: karla, sans-serif;
  color: #1A488E99;
  font-size: 12px;
}